header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  & .logo {
    padding: 1rem;

    img{
      cursor: pointer;
    }
  }

  // color: rgb(170, 170, 170);

  background-color: #b7b7b7;
  height: 100px;
  width: 100vw;

  & ul{
    display: flex;
  }

  & li {
    list-style: none;
    padding: 1rem;
    font-size: 2rem;
    &:last-child:hover {
      // text-decoration:dashed;
      // font-weight: 700;
      // border: 1px solid var(--base);
      box-shadow: inset 0 0 0 3px var(--base);
    }
  }
}
