:host{
  background-color: var(--primary);
}
.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items:center;
  gap: 0.8rem;
  margin-bottom: 5rem;

  & .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  line-height: 1.2;
  }

}



.action {
  display: flex;
  font-size: 2rem;
  gap: 2rem;
}

.btn:link, .btn:visited {
    background-color: #fdf2e9;
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.btn-full:hover, .btn-outline:active {
    background-color: #fdf2e9;
    text-decoration: none;
    color: white;
    background-color: #c96107;
    padding: 1rem 2rem;
    border-radius: 0.5rem;

}

.btn-outline:link, .btn-outline:visited {
    color: #e67e22;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    // border: 1px solid #e67e22;
    box-shadow: inset 0 0 0 2px #e67e22;
}

.btn-outline:hover, .btn-outline:active {
    background-color: #fdf2e9;
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    // border: 1px solid #e67e22;
    box-shadow: inset 0 0 0 2px #e67e22;
}

//   a:link, a:visited {
//     text-decoration: none;
//     width: 10rem;
//     text-align: center;
//     background-color: #e67e22;
//     color: white;
//     border: 2px solid var(--gray-900);
//     padding: 1rem 2rem;
//     border-radius: 0.5rem;
//     transition: all 0.3s ease-in-out;
//     border-radius: 8px;

//     &:hover {
//       background-color: var(--base-hover);
//       color: white;
//     }
//   }



.description-hero {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5rem;
  gap: 2rem;
}

.img-hero {
  width: 100%;
  height: 90vh;
}

h1 {
  font-size: 5rem;
  color: var(--gray-900);
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

.people-images{
  display: flex;
  // align-items: center;
  gap: -1rem;
}

.people-images img {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #f1aa6b;
  margin-right: -1.5rem;
}

.text-people {
  font-size: 2rem;
  color: var(--gray-900);
  font-weight: 600;
  margin-top: 1rem;
}

.text-people span {
  color: #e67e22;
  font-weight: 700;
}
