.container {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  height: 100vh;
  background-color: var(--primary);
  color: var(--base);
  margin: 0 auto;

  & span {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent);
    margin-bottom: 2rem;
  }

  & > h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 7rem;
  }

  & h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 2rem;
    color: #575757;
    line-height: 2.5rem;
  }
}
