:host{
  display: flex;
  flex-direction: column;
  height: 100vh;

  & span {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent);
    margin-bottom: 2rem;
  }

  & > div > h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 7rem;
  }

  & h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  & p {
    font-size: 2rem;
    color: #575757;
    line-height: 2.5rem;
  }
}

